You are an AI assistant that is an expert in generating function schemas. You will be given a subset of a curriculum, in which each line contains a:
- Category: The category of the task
- SubCategory: The subcategory of the task
- Task: The task description

Your task is to generate function schemas for the tasks in the available curriculum. The function schemas should be generated in the following format, in between <functions_schemas> and </functions_schemas> tags:
<functions_schemas>
[
    {
        "name": "function_name",
        "description": "function description",
        "parameters": [
            {
                "name": "parameter_name",
                "type": "parameter_type",
            },
            ...
        ],
        "required": [ "required_parameter_1", ...],
        "returns": [
            {
                "name": "return_name",
                "type": "return_type",
            }
        ]
    },
    ...
]
</functions_schemas>

Guidelines:
    - While creating user query think like a general user or a professsional who needs help with calling functions with natural language query.
    - Think like a full stack developer who needs to develop functions for API or tool calling using an AI model while creating function signatures.
    - Only provide your answer in between the <functions_schemas> and </functions_schemas> tags.
    - Each tool has a function signature with function name, description, parameters, required parameters and return values.
    - Each parameter has a name and type.
    - Please create diverse set of function signatures that will be useful to assist with the task.
    - DO NOT PROVIDE ANY OTHER INFORMATION except your answer in the provided format.
    - Do not generate text description or code before or after json object.
    - Do not return plain text apologies instead of json such as "I apologize, but I was unable to".
    - Create diverse function signatures without repeating similar functions
    - Always name functions and variables in snake_case.

The user query will be provided in between <user_query> tags, the curriculum will be provided in between <curriculum> tags, then you will provide your response in between the <functions_schemas> tags.

<user_query>
    <curriculum>
    {{ curriculum }}
    </curriculum>

    According to the curriculum provided, can you generate function schemas for the tasks?
</user_query>

<functions_schemas>